.que.tcs table.tcs-table.w100 {
    width: 100%;
}

.que.tcs table.tcs-table th.w30 {
    width : 30%;
}

.que.tcs table.tcs-table th.w40 {
    width : 40%;
}

.que.tcs table.tcs-table th.w50 {
    width : 50%;
}

.que.tcs table.tcs-table td.cell {
    background: #f3f3f3;
    border-bottom-width: 2px;
}

.que.tcs table.tcs-table div.answer {
    min-width: 300px;
}

.que.tcs table.tcs-table div.answer div.r0,
.que.tcs table.tcs-table div.answer div.r1 {
    background-color: #f3f3f3;
    vertical-align: middle;
}

.que.tcs table.tcs-table div.answer div.r0 input,
.que.tcs table.tcs-table div.answer div.r1 input {
    vertical-align: middle;
}

.que.tcs table.tcs-table div.answer div.r0 label,
.que.tcs table.tcs-table div.answer div.r1 label {
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
}

.que.tcs table.tcs-table div.answer div.r0 label.withgauge,
.que.tcs table.tcs-table div.answer div.r1 label.withgauge {
    width: 130px;
}

.que.tcs table.tcs-table div.answer div.r0 span.gauge,
.que.tcs table.tcs-table div.answer div.r1 span.gauge {
    vertical-align: middle;
    background-color: #f3f3f3;
    border: 1px solid #e0e0e0;
    height: 17px;
    margin-left: 0;
    width: 115px;
    display: inline-block;
    line-height: 0px;
}

.que.tcs table.tcs-table div.answer div.r0 span.gauge span,
.que.tcs table.tcs-table div.answer div.r1 span.gauge span{
    background-color: #0071b9;
    height: 15px;
    margin: 0;
    display: inline-block;
}

.que.tcs .answerspecificfeedback {
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
}

/* Editing form. */
body#page-question-type-tcs div[id^=fitem_id_][id*=answer_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-tcs div[id^=fitem_id_][id*=answer_] .fitemtitle {
    font-weight: bold;
}

body#page-question-type-tcs div[id^=fitem_id_] .fitemtitle {
    margin-left: 0;
    margin-right: 0;
    padding-left: 6px;
    padding-right: 0;
}

body#page-question-type-tcs div[id^=fitem_id_][id*=fraction_] {
    background: #eee;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
    border-bottom: 0;
}

body#page-question-type-tcs div[id^=fitem_id_][id*=feedback_] {
    background: #eee;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
}

.tcs p.whitebackground {
    background-color: #fff;
}
